body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    color: white;
    background-color: #1F2937;
    padding: 32px 15vw;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    gap: 64px;
    background-color: #1F2937;
    padding: 32px 15vw;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero-secondary-text {
    font-size: 18px;
    color: #F5E7EB;
}

.sign-up-button {
    width: fit-content;
    height: 24px;
    flex: none;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    padding: 0 12px;
}

.hero-image {
    width: 30vw;
    object-fit: contain;
    flex: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20vw;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 32px 0;
}

.info-row {
    display: flex;
    /* width: 600px; */
    gap: 32px;
}

.info-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.info-image {
    width: 100px;
    height: auto;
}

.info-text {
    text-align: center;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    margin: 32px 0;
    padding: 24px 20vw;
}

.quote-text {
    font-size: 36px;
    text-emphasis: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    margin: 32px 25vw;
    padding: 24px 5vw;
    background-color: #3882F6;
    border-radius: 20px;
}

.call-to-action .sign-up-button {
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
}

.call-to-action-left {
    margin-right: auto;
    color: #F9FAF8;
}

.call-to-action-primary-text {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 32px;
    color: #F9FAF8;
}